body {
  
  height: 100hv;
  background-color: #0f2c3e;
  background: url(assets/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 1120px) {
  body {
    background: url(assets/res1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}

@media (max-width: 970px) {
  body {
    background: url(assets/res2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}

@media (max-width: 840px) {
  body {
    background: url(assets/res4.png) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}

@media (max-width: 710px) {
  body {
    background: url(assets/res5.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .coming {
    width: 70% !important;
    left: 18% !important;
    top: 55% !important;
  }
}


.coming {
  animation: blinker 6s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}